/* -------  General Styles ------- */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 15px;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

section.alternate-background ul {
  width: 80%;
  padding: 20px 0px 25px 30px;
}

main img {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

#menu {
  display: flex;
  justify-content: center;
  padding: 20px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

form div {
  display: flex;
  justify-content: space-between;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  .logo {
    font-size: 30px;
    padding: 0;
  }


   .item {
     flex: 1;
     
   }

   .about-div, .ideas-div {
     padding: 15px;
   }

   .about-div img, .ideas-div img {
     padding-bottom: 30px;
   }
   #host {
     padding: 30px;
     
   }

}

@media all and (min-width: 768px) {
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   }
  
  form div {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  form {
    display: flex;
  }

  #menu {
    padding: 0;
  }  
  
  form label, form input, form select {
    width: 90%;
    font-size: 12px;
  }
  form button {
    padding: 0;
    width: 15%;

  }

  .about-div {
    display: flex;
    align-items: center;
  }
  
  .images {
    display: flex;
    margin-right: 10px;
  }


  #host {
    display: flex;
    align-items: center;
  }

  .ideas-div {
    display: flex;
  }

  .ideas-img {
    padding: 10px;
  }

  
  form button {
    padding: 10px;
  }

  .about-img {
    padding: 10px;
  }
}
